body {
	color:rgb(0,0,0);
	background:rgba(130,130,130,0.1);
	font-size:20px;
	font-family:Helvatica;
}
h1,h2,h3{
	font-family:'Roboto', sans serif;
	font-weight:bold;
	
}
h2 {
	color:rgb(116,217,117);
}
a:hover{
	color:yellow;
}
.container {
	width:700px;
	margin:40px auto;
}
.card-white{
	background-color:white;
	padding:40px;
	box-shadow:0px 10px 30px rgba(0,0,0,0.1);
	border-radius:4px;
	margin:20px 0px;
	text-align:center;
}
.btn-blue{
	background-color:#6B72E1;
	color:white;
	padding:15px 20px;
	border-radius:4px;
}
.btn-blue:hover{
	background-color:black;
    color:white;


}
.list-inline{
	list-style:none;
	padding-left:0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
#introduction p {
	margin-bottom: 60px;
}
.list-inline i{
	font-size:50px;
	color:rgb(230,230,230);
}
.list-inline i:hover {
	font-size:50px;
	color:black;
}